@using EmployeeManagementSystem.BaseLibrary.Dtos
@using EmployeeManagementSystem.ClientLibrary.Helpers
@using Syncfusion.Blazor.Grids
@implements IDisposable
@if (allState.ShowEmployee)
{
    if (ShowMainPage)
    {
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-outline-success" @onclick="ShowAddOrUpdateEmployeeButtonClicked"><i class="bi bi-plus-circle-dotted"></i>Add Employee</button>
                        </div>
                        <div class="card-body" style="max-height: 580px; overflow-x:hidden;overflow-y:scroll;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Employee Image</th>
                                        <th scope="col">Civil Id</th>
                                        <th scope="col">File Number</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Telephone</th>
                                        <th scope="col">Job Name</th>
                                        <th scope="col">Branch Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Employees != null && Employees.Count > 0)
                                    {
                                        foreach (var item in Employees)
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <div class="image">
                                                        <img src="@item!.Photo" alt="@item!.Name" width="150" height="150" />
                                                    </div>
                                                </th>
                                                <td>@item.CivilId</td>
                                                <td>@item.FileNumber</td>
                                                <td>@item.Name</td>
                                                <td>@item.TelephoneNumber</td>
                                                <td>@item.JobName</td>
                                                <td>@item.Branch!.Name</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <div class="alert alert-info text-center">No Employees added yet!</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<AddOrUpdateEmployeePage @ref="addOrUpdateEmployeePage"
                         Employee="Employee"
                         ShowAddOrUpdateEmployee="ShowAddOrUpdatePage"
                         NotifyParentFormCloseClicked="NotifyParentFormCloseClicked"
                         Provinces="DefaultProvinces"
                         Districts="SelectedDistricts"
                         Wards="SelectedWards"
                         GeneralDepartments="DefaultGeneralDepartments"
                         Departments="SelectedDepartments"
                         Branches="SelectedBranches"
                         HandleGeneralDepartmentSelectedEvent="HandleGeneralDepartmentSelectedEvent"
                         HandleDepartmentSelectedEvent="HandleDepartmentSelectedEvent"
                         HandleSaveEmployeeClickedEvent="HandleSaveEmployeeClickedEvent"
                         HandleProvinceSelectedEvent="HandleProvinceSelectedEvent"
                         HandleDistrictSelectedEvent="HandleDistrictSelectedEvent" />

@code {
    AddOrUpdateEmployeePage? addOrUpdateEmployeePage;
    public List<Employee> Employees { get; set; } = new();
    public Employee Employee { get; set; } = new();

    // Country / City / Town
    // public List<Country> DefaultCountries { get; set; } = new();
    // public List<City> DefaultCities { get; set; } = new();
    // public List<Town> DefaultTowns { get; set; } = new();

    public List<ProvinceDto> DefaultProvinces { get; set; } = new();
    public List<DistrictDto> SelectedDistricts { get; set; } = new();
    public List<WardDto> SelectedWards { get; set; } = new();

    public List<GeneralDepartment> DefaultGeneralDepartments { get; set; } = new();
    public List<Department> DefaultDepartments { get; set; } = new();
    public List<Branch> DefaultBranches { get; set; } = new();

    public List<Department> SelectedDepartments { get; set; } = [];
    //public List<City> SelectedCities { get; set; } = [];
    public List<Branch> SelectedBranches { get; set; } = [];
    //public List<Town> SelectedTowns { get; set; } = [];

    public string ProvinceId { get; set; } = string.Empty;

    private async Task LoadEmployees()
    {
        Employees = await EmployeeService.GetAll(Constants.EmployeeUrl);
    }

    protected override async Task OnInitializedAsync()
    {
        ShowMainPage = true;
        allState.Action += StateHasChanged;
        await LoadEmployees();
        await LoadDefault();
    }

    private async Task LoadDefault()
    {
        DefaultProvinces = await PlaceService.GetProvinceListAsync();

        // DefaultCountries = await CountryService.GetAll(Constants.CountryUrl);
        // DefaultCities = await CityService.GetAll(Constants.CityUrl);
        // DefaultTowns = await TownService.GetAll(Constants.TownUrl);

        DefaultGeneralDepartments = await GeneralDepartmentService.GetAll(Constants.GeneralDepartmentUrl);
        DefaultDepartments = await DepartmentService.GetAll(Constants.DepartmentUrl);
        DefaultBranches = await BranchService.GetAll(Constants.BranchUrl);
    }

    //Country select
    // private void HandleCountrySelectedEvent(int countryId) => SelectedCities = DefaultCities.Where(i => i.CountryId == countryId).ToList();

    // //City select
    // private void HandleCitySelectedEvent(int cityId) => SelectedTowns = DefaultTowns.Where(i => i.CityId == cityId).ToList();

    //GeneralDepartment select
    private void HandleGeneralDepartmentSelectedEvent(int generalDepartmentId)
    {
        SelectedDepartments = DefaultDepartments.Where(i => i.GeneralDepartmentId == generalDepartmentId).ToList();
    }

    //Department select
    private void HandleDepartmentSelectedEvent(int departmentId) => SelectedBranches = DefaultBranches.Where(i => i.DepartmentId == departmentId).ToList();

    //Province select
    private async Task HandleProvinceSelectedEvent(string provinceId)
    {
        ProvinceId = provinceId;
        SelectedDistricts = await PlaceService.GetDistrictListByProvinceIdAsync(provinceId);
    }

    //District select
    private async Task HandleDistrictSelectedEvent((string provinceId, string districtId) data)
    {
        SelectedWards = await PlaceService.GetWardListByDistrictIdAsync(data.provinceId, data.districtId);
    }

    private async Task HandleSaveEmployeeClickedEvent(Employee employee)
    {
        bool isSuccess = false;
        if (employee.Id > 0)
        {
            var result = await EmployeeService.Update(Constants.EmployeeUrl, employee);
            isSuccess = await DisplayMessage(result.flag, result.message);
        }
        else
        {
            var result = await EmployeeService.Insert(Constants.EmployeeUrl, employee);
            isSuccess = await DisplayMessage(result.flag, result.message);
        }
        if (isSuccess)
        {
            employee = new();

            addOrUpdateEmployeePage!.ClearContent();
        }

        StateHasChanged();
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
            await dialogService.AlertAsync(message, "Success Operation");
        else
            await dialogService.AlertAsync(message, "Alert");

        return flag;
    }

    private async Task NotifyParentFormCloseClicked()
    {
        ShowMainPage = true;
        ShowAddOrUpdatePage = false;
        await LoadEmployees();
    }

    public bool ShowMainPage { get; set; } = false;
    public bool ShowAddOrUpdatePage { get; set; } = false;
    private void ShowAddOrUpdateEmployeeButtonClicked()
    {
        ShowMainPage = false;
        ShowAddOrUpdatePage = true;
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
